* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

input:focus{
  background-color: #4E4E4E;
}

input{
  color: white;
  background-color: #222;
  border: none;
  outline: none;
  width: 10rem;
  height: 3vh; 
  padding-left: 7px;

}

input::placeholder{
  color: white;
}

table {
  width: 60%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  color: white;
}

th,
td {
  white-space: nowrap;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
}

tr{
  text-align: center;
}

button{
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px ;
  cursor: pointer;
  border-radius: 8px;
}

button:hover{
  background-color: #0069d9;
}

button:active {
  background-color: rgb(56, 54, 54);
  transform: scale(0.95);
}



